@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*::selection{
  background-color: rgba(0, 236, 151, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  background: #080808;
}

.select-none{
  -webkit-user-select: none;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.event-card{
  position: relative;
  overflow: hidden;
  transition: all .25s;
}
.event-card::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00EC97;
  transform: translateY(100%);
  transition: transform .25s;
  z-index: -1;
}

.event-card:hover::after{
  transform: translateY(0);
  opacity: 0.809;
}
.event-card > .text-secondary{
  transition: all .25s;
}
.event-card:hover > .text-secondary{
  color: #080808;
  border-color: #080808;
}